.btn {
  font-size: 14px;
}

.form-control {
  background-color: #f5f5f5;
  border: 2px solid #22409a;
  border-radius: 5px;
}

.mycontrol .form-control:focus {
  background-color: #f5f5f5;
  border: 2px solid #22409a;
}

.product_search_form {
  max-width: 600px;
}

.lwbspanpad {
  padding-left: 5px;
}

.footerhelp {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.widget .sociallist a {
  float: left;
  padding-bottom: 10px;
  padding-left: 2px;
}

.h2all {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 15px;
  font-family: 'Poppins', sans-serif;
}

.icon_box_style2 {
  .icon_1 {
    max-width: 50px;
    text-align: center;
    background-color: #feeaeb;
    float: left;
    height: 50px;
    border-radius: 100%;
    line-height: 50px;
    position: relative;
    margin: -60px 20px 0px 0px;
    -ms-flex: 0 0 78px;
    flex: 0 0 78px;
  }

  &:hover .icon_1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: swing;
    animation-name: swing;
  }

  .icon_1 i {
    font-size: 24px;
    color: #fa3433;
    line-height: 50px;
  }

  .icon_2 {
    max-width: 50px;
    text-align: center;
    background-color: #e9effd;
    float: left;
    height: 50px;
    border-radius: 100%;
    line-height: 50px;
    position: relative;
    margin: -60px 20px 0px 0px;
    -ms-flex: 0 0 78px;
    flex: 0 0 78px;
  }

  &:hover .icon_2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: swing;
    animation-name: swing;
  }

  .icon_2 i {
    font-size: 24px;
    color: #3167eb;
    line-height: 50px;
  }

  .icon_3 {
    max-width: 50px;
    text-align: center;
    background-color: #e5f7e7;
    float: left;
    height: 50px;
    border-radius: 100%;
    line-height: 50px;
    position: relative;
    margin: -60px 20px 0px 0px;
    -ms-flex: 0 0 78px;
    flex: 0 0 78px;
  }

  &:hover .icon_3 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: swing;
    animation-name: swing;
  }

  .icon_3 i {
    font-size: 24px;
    color: #00b417;
    line-height: 50px;
  }
}

.single_banner_info {
  h5, span {
    font-size: 14px;
  }
}

.heading_s2 {
  font-weight: normal;
}

.product_info a {
  color: #22409a;
}

.single_bn_title_banner {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 50px;
}

.newarival {
  background-color: #fff;
  margin-bottom: 0px;
  padding: 10px 10px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 1px solid #e8e8e8;
}

.botomradius {
  border-radius: 0px 0px 7px 7px;
}

.imgbotomradius {
  border-radius: 7px;
}

.wonbtn button {
  background-color: none;
  color: #000;
  border: 1px solid #000;
}

.newsingle_banner {
  h3 {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  }
}

.heading_s2 h2 {
  font-weight: normal;
}

.nav-tabs {
  .nav-item.show .nav-link, .nav-link.active {
    background-color: #22409a;
    color: #fff;
  }
}

.topselling {
  .single_bn_title {
    font-weight: bold;
    font-size: 50px;
  }

  .single_banner_info {
    h5 {
      font-size: 24px;
    }

    top: 20%;
  }
}

.btn-fill-out_one {
  background-color: transparent;
  color: #22409a !important;
  border: 1px solid #22409a;
  margin-bottom: 30px;

  &:hover {
    background-color: #22409a;
    color: #fff !important;
    border: 1px solid #22409a;
    margin-bottom: 30px;
  }
}

.col-mar {
  margin-bottom: 20px;
}

.fa-search {
  font-size: 20px;
}

/* Login Style Start Here */

.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.size1 {
  width: 100%;
  min-height: 100vh;
}

.wrappic1 {
  display: block;
  flex-grow: 1;

  img {
    max-width: 80px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

.loginLeft {
  width: 100%;
  background: #f3f8fe;
  padding: 15px;
  border-radius: 8px;

  h3 {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
  }
}

.loginright {
  a {
    color: #224099;
  }

  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 8px;

  h3 {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
  }

  .form-control {
    border: 1px solid #ced4da;
    font-size: 14px;
  }

  .btn-primary {
    background: #22409a;
    border: none;
  }
}

/* Login Style End Here */

.table-shopping-cart {
  &.table {
    td, th {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .price-wrap {
    line-height: 1.2;
  }

  .price {
    font-weight: bold;
    margin-right: 5px;
    display: block;
  }
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;

  .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .info {
    padding-left: 15px;
    padding-right: 7px;
  }

  p {
    margin-bottom: 0;
  }

  .title {
    display: block;
    margin-bottom: 5px;
    color: #212529;
  }

  a.title:hover {
    color: #ff6a00;
  }
}

a.itemside {
  color: initial;
}

.items-bordered-wrap .itemside:not(:last-child) {
  border-bottom: 1px solid #e5e7ea;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.img-xs, .img-sm, .img-md, .img-lg {
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.img-xs {
  width: 40px;
  height: 40px;
}

.img-sm {
  width: 80px;
  height: 80px;
}

.price-wrap {
  letter-spacing: -0.7px;
}

.table-shopping-cart {
  .price-wrap {
    line-height: 1.2;
  }

  .price {
    font-weight: bold;
    margin-right: 5px;
    display: block;
  }
}

.stepwizard-step p {
  margin-top: 15px;
  color: #666;
  font-size: 20px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  /*opacity: 1 !important;
  filter: alpha(opacity=100) !important;*/
}

.stepwizard {
  .btn {
    &.disabled, &[disabled] {
      color: #000;
      background-color: #fff;
    }
  }

  fieldset[disabled] .btn {
    color: #000;
    background-color: #fff;
  }
}

.stepwizard-row:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  background-color: #000;
  z-index: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
}

.btn-success:not(:disabled):not(.disabled) {
  &.active, &:active {
    color: #fff;
    background-color: #22409a;
    border-color: #22409a;
  }
}

.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #22409a;
  border-color: #22409a;
}

.btn-success {
  &.focus, &:focus {
    background-color: #22409a;
    border-color: #22409a;
  }
}

.cart-container {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  flex-wrap: wrap;
}

.mainbox {
  display: flex;
}

.mainbox_left, .mainbox_right {
  display: flex;
  flex: 2;
}

.mainbox_right_img {
  flex: 3;
  border: 1px solid #f1f1f1;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.mainbox_right_pname {
  flex: 9;

  h4 {
    font-size: 18px;
  }
}

.mainbox_right_price {
  flex: 1;
  display: flex;
  align-items: flex-end;

  .btn-secondary {
    background-color: #fff;
    padding: 0px 25px;
    color: #ccc;
    border: 1px solid #ccc;
  }

  .form-control {
    height: 40px;
  }

  input {
    border: 1px solid #ccc;
    background-color: transparent;
  }
}

.mainbox_right_edit {
  i {
    border: 1px solid #ccc;
    padding: 11px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: right;
  }

  flex: 1;
  flex-direction: row;
}

.mainbox_right_pname {
  p {
    margin-bottom: 5px;
    color: #000;
  }

  span {
    font-size: 12px;
  }
}

.mainbox_right_qty, .mainbox_right_update {
  flex: 1;
  flex-direction: row;
}

.edit_update_delete {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* Coupon Box Start Here */

.coupon_box {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;

  .form-control {
    height: 40px;
  }

  input {
    border: 1px solid #ccc;
    background-color: transparent;
  }

  button {
    background-color: #22409a;
    color: #fff;

    &:hover {
      background-color: #132c6d;
      color: #fff;
    }
  }

  ::placeholder {
    font-size: 14px;
  }
}

/* Coupon Box End Here */

.lineh {
  line-height: 12px;
}

/* Cart Details Start Here */

.cart_details {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;

  .table td {
    font-size: 16px;
    padding: 0px;
    border-top: none;
    font-weight: normal;
    color: #6c757d;
    line-height: 36px;
  }
}

.table th {
  font-size: 16px;
  padding: 0px;
  border-top: none;
  font-weight: normal;
  color: #6c757d;
  line-height: 36px;
}

.cart_details {
  span {
    color: red;
  }

  .spancolor {
    color: #08d938;
  }

  .totalbold {
    color: #000;
  }

  .btn {
    height: 40px;
    padding: 0px 35px;
    background-color: #22409a;
    color: #fff;

    &:hover {
      background-color: #132c6d;
      color: #fff;
    }
  }
}

/* Cart Details End Here */

/* Checkout Details Start Here */

.cart_details1 {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  width: 100%;

  .table td {
    font-size: 16px;
    padding: 0px;
    border-top: none;
    font-weight: normal;
    color: #6c757d;
    line-height: 36px;
  }
}

.table th {
  font-size: 16px;
  padding: 0px;
  border-top: none;
  font-weight: normal;
  color: #6c757d;
  line-height: 36px;
}

.cart_details1 {
  span {
    color: red;
  }

  .spancolor {
    color: #08d938;
  }

  .totalbold {
    color: #000;
  }

  .btn {
    height: 40px;
    padding: 0px 35px;
    background-color: #22409a;
    color: #fff;

    &:hover {
      background-color: #132c6d;
      color: #fff;
    }
  }
}

/* Checkout out Details End Here */

/* Shipping start Here */

.shipping_box {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px;
  width: 100%;

  .form-control {
    height: 40px;
  }

  input {
    border: 1px solid #ccc;
    background-color: transparent;
  }
}

/* Shipping end Here */

/* Shop Page start Here */

.shopping {
  .product_header {
    justify-content: flex-start;
  }

  .form-control {
    background-color: #224099;
    color: #fff;
  }

  .custom_select::before {
    color: #fff;
  }

  .shorting_icon.active {
    background-color: #22409a;
    border-color: #22409a;
  }

  select option {
    background-color: #fff;
    border-color: #000;
  }

  .custome-checkbox input[type="checkbox"]:checked + .form-check-label::before {
    background-color: #224099;
    border-color: #224099;
  }

  .shop_banner {
    h5 {
      color: #22409a;
      text-align: center !important;
    }

    h3 {
      color: #000;
    }

    p {
      color: #000;
      font-size: 12px;
      line-height: 0px;
      margin-bottom: 15px;
    }

    span {
      color: #000;
      font-size: 12px;
    }
  }

  .cat_tittle {
    font-size: 16px;
    color: #ccc;
  }
}

.twobanner .single_banner_info {
  top: 34%;
}

.essbanner .single_banner {
  margin-bottom: 15px;
}

/* Shop Page end Here */